:root {
    --fontPrimary: "Canela", sans-serif;;
    --fontSecondary: "GT America Standard", sans-serif;;

    --colorBrandPrimary: rgb(219, 213, 205);
    --colorBrandSecondary: #e4e0db;
    --colorText: rgb(15, 15, 15);
    --colorTextSecondary: #f7f6f6;

    --colorInputBg: #d5ccc1;
    --colorInputColor: #0f0f0f;
    --colorButtonBg: #2f2d2a;

    --spacingInputPadding: .8rem 1.5rem;
    --spacingContainerPadding: 3.6rem;
    --spacingFooterColumnTopMargin: .7rem;

    --sizeContainerWidthRg: 83.3%;
    --sizeNavigationWidthLg: 70%;

    --animation-base: .25s all ease-in;
}