body {
    margin: 0;
    font-size: 16px;
    font-family: var(--fontPrimary);
    font-weight: 300;

    &.HomePage {
        background-color: var(--colorBrandSecondary);
    }

    &.HomePage header {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: var(--colorBrandPrimary);
    }

    main {
        width: var(--sizeContainerWidthRg);
        margin-inline: auto;
        padding-block: 2.5rem;
        transition: var(--animation-base);
    }

    &.Navigation--opened {
        overflow-x: hidden;

        header {
            .HeaderEmployees {
                transform: translateX(var(--sizeNavigationWidthLg));
            }
        }

        .Navigation {
            transform: scaleX(100%);
        }

        .TopSection {
            transform: translateX(var(--sizeNavigationWidthLg));
        }

        main {
            transform: translateX(var(--sizeNavigationWidthLg));
            margin-right: 0;
        }

        footer {
            transform: translateX(var(--sizeNavigationWidthLg));
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 2rem;
        padding-block: 6rem;
        padding-inline: var(--spacingContainerPadding);
        background-color: #000000;
        transition: var(--animation-base);

        @include mediaScreenMin(lg) {
            flex-wrap: nowrap;
        }
    }
}

.MeetOurStuff {
    margin-bottom: 2rem;
}

.EmployeesFrame {
    display: grid;
    row-gap: 3rem;
    column-gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);

    @include mediaScreenMin(sm) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mediaScreenMin(md) {
        grid-template-columns: repeat(4, 1fr);
    }

    @include mediaScreenMin(lg) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.SeeAll {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-style: italic;
    margin-top: 6rem;
    margin-bottom: 4.75rem;
}

input {
    &.FormComponent {
        padding: var(--spacingInputPadding);
        font-size: 1.2rem;
        outline: unset;
        border: unset;
        background-color: var(--colorInputBg);
        color: var(--colorInputColor);
        width: 100%;
    }
}