:root {
    --colorBrandPrimary: rgb(219, 213, 205);
    --colorBrandSecondary: #e4e0db;
    --colorText: rgb(15, 15, 15);

    --colorInputBg: #d5ccc1;
    --colorInputColor: #0f0f0f;

    --spacingInputPadding: .8rem 1.5rem;

    --sizeContainerWidthRg: 83.3%;
}