:root {
    --colorBrandPrimary: rgb(219, 213, 205);
    --colorBrandSecondary: #e4e0db;

    --colorInputBg: #d5ccc1;
    --colorInputColor: #0f0f0f;

    --spacingInputPadding: .25em .789em .421em;

    --sizeContainerWidthRg: 83.3%;
}