.Header {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--colorBrandPrimary);
    z-index: 10000;

    @include mediaScreenMin('lg') {
        position: static;
        z-index: unset;
    }

    &-logo {
        height: 2.25rem;
        margin-block: 1.75rem;
        margin-left: 9rem;
        margin-right: auto;

        @include mediaScreenMin('lg') {
            margin-top: 4.75rem;
            margin-bottom: 0;
            margin-left: 0;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-navToggle {
        position: fixed;
        top: 1.75rem;
        left: 3.6rem;
        cursor: pointer;

        @include mediaScreenMin('lg') {
            top: 4.75rem;
        }
    }
}

.HeaderContent {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;

    &-moto {
        margin-bottom: 2rem;
        margin-top: 2.5rem;

        span {
            display: block;
            text-decoration: underline;
            font-style: italic;
            font-size: 3.375rem;
            font-weight: 300;
            transition: all .5s ease-in-out;

            &:hover {
                text-decoration: unset;
            }
        }
    }

    &-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-right: auto;

        input {
            padding: var(--spacingInputPadding);
            font-size: 1.2rem;
            outline: unset;
            border: unset;
            background-color: var(--colorInputBg);
            color: var(--colorInputColor);
            width: 25rem;
        }

        svg {
            position: absolute;
            right: 1rem;
        }
    }
}