.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

    @include mediaScreenMin('lg') {
        position: static;
    }

    &-frame {
        display: flex;
        flex-direction: row;
        width: var(--sizeContainerWidthRg);
        margin-inline: auto;
        align-items: center;

        @include mediaScreenMin('lg') {
            align-items: end;
        }
    }

    &-logo {
        height: 2.25rem;
        margin-block: 1.75rem;
        margin-left: 7rem;
        z-index: 10000;

        &:only-of-type{
            margin-right: auto;
        }

        @include mediaScreenMin('lg') {
            margin-top: 4.75rem;
            margin-bottom: 0;
            margin-left: 0;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-navToggle {
        position: fixed;
        top: 1.75rem;
        left: 3.6rem;
        cursor: pointer;
        z-index: 10000;

        @include mediaScreenMin('lg') {
            top: 4.75rem;
        }
    }
}

.HeaderBreadcrumbs {
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
    font-family: "GT America Standard", sans-serif;
    font-weight: 300;
    font-size: .925rem;
    height: 1.5rem;
    align-items: center;
    margin-right: auto;
    margin-left: 2.5rem;
    z-index: 10000;
    margin-top: .7rem;

    @include mediaScreenMin('lg') {
        margin-top: 0;
    }

    &-item {
        &:before {
            content: "\203A";
            margin-right: 1.25rem;
        }

        a {
            color: var(--colorText);
        }
    }
}
