.Navigation {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sizeNavigationWidthLg);
    height: 100vh;
    background-color: var(--colorBrandPrimary);
    transform: scaleX(0%);
    transition: var(--animation-base);
    transform-origin: left;

    &-container {
        width: 60%;
        margin-top: 15rem;
        margin-inline: calc((100% - var(--sizeContainerWidthRg)) * .7);
    }

    &-employees {
        width: 40%;
        object-fit: cover;
    }
}